---
import Layout from "../layouts/Layout.astro";
import Gallery from "../components/gallery-s3.astro";
---

<Layout title="Sextus Harauld">
  <main>
    <Gallery folder="homepage" />
  </main>
</Layout>
