---
import { Image } from "astro:assets";
interface Props {
  images: string[];
}

const { images } = Astro.props;
---

<div class="tileContainer">
  {
    images.map((image) => (
      <Image
        class="tile"
        src={image}
        alt="Description"
        inferSize
        loading="lazy"
      />
    ))
  }
</div>
