@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: black;
  --secondary-color: gray;
  --body-gap: 2rem;

  --column-count: 1;
  --column-gap: 10px;

  --header-flex-direction: column;
  --header-gap: 1rem;
  --header-padding: 0 1rem;
  --header-margin: 1rem 0 0 0;

  --main-padding: 0 1rem;

  --links-flex-direction: column;
  --links-gap: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--body-gap);
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.subtitle {
  color: var(--secondary-color);
}

header {
  display: flex;
  flex-direction: var(--header-flex-direction);
  align-items: center;
  justify-content: space-between;
  gap: var(--header-gap);
  padding: var(--header-padding);
  margin: var(--header-margin);
}

main {
  padding: var(--main-padding);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

a {
  color: var(--primary-color);
}

.links {
  display: flex;
  flex-direction: var(--links-flex-direction);
  align-items: center;
  gap: var(--links-gap);
}

.links a {
  display: flex;
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: 700;
}

.links a.current {
  color: var(--primary-color);
}

.icon {
  width: 16px;
  height: 16px;
  fill: var(--secondary-color);
  transition: 0.3s;
}

.icon:hover {
  fill: var(--primary-color);
}

footer .links {
  --links-gap: 0.5rem;
}

.tileContainer {
  line-height: 0;
  -webkit-column-count: var(--column-count);
  -webkit-column-gap: var(--column-gap);
  -moz-column-count: var(--column-count);
  -moz-column-gap: var(--column-gap);
  column-count: var(--column-count);
  column-gap: var(--column-gap);
}

.tile {
  width: 100% !important;
  height: auto !important;
  margin-bottom: var(--column-gap);
}

@media only screen and (min-width: 1024px) {
  :root {
    --column-count: 2;
    --column-gap: 10px;
    --header-flex-direction: row;
    --header-gap: 2rem;
    --links-flex-direction: row;
    --links-gap: 1.5rem;
  }
}

@media only screen and (min-width: 1280px) {
  :root {
    --column-count: 3;
    --column-gap: 10px;
  }
}
